<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exercises">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exercises">
        <activity android:name="com.example.schoolNeedsOrganizer.Need">
            <intent-filter>
                <action android:name="android.intent.action.NEED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.schoolNeedsOrganizer.FullLust">
            <intent-filter>
                <action android:name="android.intent.action.LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.schoolNeedsOrganizer.AddScreen">
            <intent-filter>
                <action android:name="android.intent.action.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.schoolNeedsOrganizer.Settings">
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.schoolNeedsOrganizer.MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.schoolNeedsOrganizer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.example.schoolNeedsOrganizer.AppSettings.MyNotificationPublisher"></receiver>
    </application>

    <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/icon"/>
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/icon"/>
    <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming notification message. -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/main_color"/>
</manifest>